<section class="topo">
    <header>
        <p>Yuri Budke</p>
        <nav>

            <ul>
                <li><a>Home</a></li>
                <li><a>Sobre</a></li>
                <li><a>Projetos</a></li>
                <li><a>Contato</a></li>
            </ul>
        </nav>

        <a class="botao">Contato</a>
        </header>
        <main>
            <div class="competencias">
                <p>Criativo</p>
                <div class="bolinha"></div>
                <p>Proativo</p>
                <div class="bolinha"></div>
                <p>Participativo</p>
            </div>
        

  
        <h1>Estudante de Programação</h1>
        <p>Obtendo conhecimento na área de Programação, para saber se é o que eu desejo seguir carreira</p>
        <div class="botoes">
            <a> Meus trabalhos</a>
            <a> Sobre mim</a>

        </div>
   </main>

  </section>

