<h1>Projetos</h1>
<div class="projects-container">
    <div class="project">
        <a href="https://link-do-seu-projeto1.com" target="_blank">
            <img src="assets/img/calcu.png" alt="Imagem do Projeto 1">
            <h3>Calculadora</h3>
            <p>Programado uma calculadora do zero para o facilitamento de suas contas matemáticas</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto2.com" target="_blank">
            <img src="assets/img/agenda.png" alt="Imagem do Projeto 2">
            <h3>Agenda</h3>
            <p>Programado uma agenda do zero para uma melhor organização no seu dia a dia</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto3.com" target="_blank">
            <img src="assets/img/relogio.png" alt="Imagem do Projeto 3">
            <h3>Alarme</h3>
            <p>Programado um alarme do zero para fazer com que você não se atrase em seus compromissos</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto4.com" target="_blank">
            <img src="assets/img/site.png" alt="Imagem do Projeto 4">
            <h3>Página de Vendas</h3>
            <p>Programado do zero para facilitar suas vendas online</p>
        </a>
    </div>
    <div class="project">
        <a routerLink="/piadas">
            <img src="assets/img/projeto5.jpg" alt="Imagem do Projeto 5">
            <h3>Piadas</h3>
            <p>Feito um programa de piadas</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto6.com" target="_blank">
            <img src="assets/img/projeto6.jpg" alt="Imagem do Projeto 6">
            <h3>Projeto 6</h3>
            <p>Descrição do Projeto 6</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto7.com" target="_blank">
            <img src="assets/img/projeto7.jpg" alt="Imagem do Projeto 7">
            <h3>Projeto 7</h3>
            <p>Descrição do Projeto 7</p>
        </a>
    </div>
    <div class="project">
        <a href="https://link-do-seu-projeto8.com" target="_blank">
            <img src="assets/img/projeto8.jpg" alt="Imagem do Projeto 8">
            <h3>Projeto 8</h3>
            <p>Descrição do Projeto 8</p>
        </a>
    </div>
</div>