<header>
    <a>Voltar para o Portfolio</a>
    <h1>Buscador de piadas</h1>
</header>
<div class="container">
    <div class="botoes">
        <button (click)="buscaPiadaChuckNorris()">Chuck Norris</button>
        <button (click)="buscaPiadaAleatoria()">Piada Aleatória</button>
        <button>Piada de Programador</button>
    </div>
    <table>
        <tr>
            <th>Piada em Inglês</th>
            <th>Piada em Português</th>
        </tr>
        <tr>
            <td>{{piada.piada_ingles}}</td>
            <td>{{piada.piada_portugues}}</td>
        </tr>
    </table>
</div>