<section class="fundo">
    <article>
        <h1>Sobre mim</h1>
        <p>
            Sou Yuri Budke, estudo no 3° ano (EM) na escola Raurilno Horn,
            e trabalho na área de Almoxarifado na Metalúrgica Schild. Já
            fiz o de Informática (CETELBRAS), Manutenção de Computadores (CETELBRAS),
            Assistente de Produção (SENAI) e Assistente Administrativo (SENAI).
        </p>
        <p>
            Estou com o curso de Lógica de Programação pelo SENAI em andamento.
            Procuro me especializar na área de Programção, onde tenho a
            vontade de começar no próximo ano uma faculdade de Engenharia
            de Software
        </p>
    </article>
    <figure>
        <img src="/assets/img/McLovin.jpg">
    </figure>
</section>
